projects/lsst_y1/training_data/demo_t4_data_vectors_0.npy
projects/lsst_y1/training_data/demo_t4_samples_0.npy
projects/lsst_y1/training_data/demo_t8_data_vectors_0.npy
projects/lsst_y1/training_data/demo_t8_samples_0.npy
projects/lsst_y1/training_data/demo_t16_data_vectors_0.npy
projects/lsst_y1/training_data/demo_t16_samples_0.npy
projects/lsst_y1/training_data/demo_t32_data_vectors_0.npy
projects/lsst_y1/training_data/demo_t32_samples_0.npy
projects/lsst_y1/training_data/demo_t64_data_vectors_0.npy
projects/lsst_y1/training_data/demo_t64_samples_0.npy